.tweet-container a {
  text-decoration: none;
  color: #fff;
}

#tweets-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;
    /* Optional: just make scrollbar invisible */
}

#tweets-container h1 {
  padding: 15px 15px;
  height: fit-content;
}

.tweet-container {
  border-top: 1px solid rgba(255, 255, 255, 0.212);
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  padding: 15px 15px;
  font-size: 15px;
  height: auto;
}

.tweets-profile-pic {
  width: 8%;
}

.tweet-actions-container {
  width: 100%;
}

.tweet-div {
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  word-wrap: break-word;
}

.tweet-action-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweet-user-info-div {
  margin-bottom: 5px;
  height: fit-content;
}

.tweet-user-info-div > p {
  font-weight: normal;
  font-size: 15px;
  color: #8b98A5;
}

.tweet-user-info-div > p > span {
  font-weight: bolder;
  color: #fff;
}

.tweet-user-content p {
  /* overflow: hidden; */
  height: fit-content;
  width: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.create-tweet-form {
  width: 90%;
}

.tweet-user-content p {
  margin: 10px 10px;
}

.tweet-user-content > p:nth-child(2) {
  color: #8b98A5;
  font-size: 15px;
}

/* #tweet-image {
  border-radius: 16px;
  height: auto;
  width: auto;
  max-width: 90%;
} */
