.create-tweet-form {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 15px;
  padding-top: 5px;
}
.create-tweet-form form {
  width: 100%;
  height: auto;
}
.create-tweet-textarea {
  padding: 5px 5px;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.create-tweet-textarea textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px 10px;
  box-sizing: border-box;
  width:100%;
  height: 90%;
  background-color: transparent;
  font-size: 20px;
  resize: none;
  color: #fff;
  overflow-y: hidden;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.233); */
}

.create-tweet-textarea textarea:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}


.create-chirp-bttn-form {
  height: 35px;
  width: 90px;
  border-radius: 32px;
  background-color: rgb(29, 155, 240);;
  border: 1px solid rgba(255, 255, 255, 0.233);
  color: #fff;
  font-size: 15px;
}

.create-chirp-bttn-form:hover {
  cursor: pointer;
  background-color: rgb(23, 140, 218);
}

.crt-chrp-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
  margin-bottom: 10px;
}

.label-for-file-bttn:hover {
  cursor: pointer;
}

.label-for-file-bttn {
  color: #1D9bf0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 24px;
  /* background-color: #fff; */
}

.label-for-file-bttn:hover {
  background-color: rgba(26, 129, 197, 0.39);
}

input[type="file"] {
  display: none;
}

#tweet-image {
  border-radius: 16px;
  height: auto;
  width: auto;
  max-width: 90%;
}

.create-form-action-div {
  display: inline-flex;
  width: 100%;
  /* align-content: space-between; */
  justify-content: space-between;
}
