.popup-content {
  background-color: #15202B;
  border: none;
  border-radius: 16px;
  width: auto;
  height: auto;
}

.tweet-burger-content {
  background-color: #15202B;
  max-width: calc(384px);
  width: 300px;
  height: auto;
  padding: 10px 5px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  height: 28px;
}
.menu-item:hover {
  color: #2980b9;
}

.span-burger {
  border-radius: 64px;
  height: 30px;
  width: 40px;
  text-align: center;
}

.span-burger:hover {
  background-color: rgba(26, 129, 197, 0.39);
}
