#tweet-wrapper-detail {
  /* padding: 15px 15px; */
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

#tweet-header-div {
  display: flex;
  width: 100%;
  padding: 20px 15px;
}

#tweet-div-detail {
  display: flex;
  padding: 15px 15px;
  width: auto;
  margin-bottom: 20px;

}

#tweet-date-div {
  font-size: 15px;
  padding: 15px 15px;
  width: auto;
  color: #8b98A5;
}

#tweet-detail-usernames {
  margin: 0px 10px;
  width: 100%;
}

#tweet-detail-usernames > p:nth-child(2) {
  color: #8b98A5;
  font-size: 15px;
}

#tweet-div-detail-content {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
  width: 100%;
}

#tweet-div-detail-content p {
  margin: 10px 10px;
}

#tweet-div-detail-content > p:nth-child(2) {
  color: #8b98A5;
  font-size: 15px;
}

#myTextarea::placeholder {
  color: #8b98A5;
}

/* input[type="file"]{
  -webkit-appearance: none;
  text-align: left;
  -webkit-rtl-ordering:  left;
} */

input[type="file"]::-webkit-file-upload-button{
  /* -webkit-appearance: none; */
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
  background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}

#select-file-button {
  background-color: #2f2f2f;
  cursor: pointer;
  padding: 10px;
  padding-left: 115px;
  padding-right: 115px;
  /* border-radius: 5px; */
  color: white;
  transition: .2s;
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
}

#arrow-div {
  width: 8%;
  /* padding-left: 5px; */
  border-radius: 64px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-div:hover {
  cursor: pointer;
  background-color: rgba(140, 142, 144, 0.39);
}
