.popup-content {
  background-color: #15202B;
  border: none;
  border-radius: 16px;
  width: auto;
  height: auto;
}

.tweet-burger-content {
  background-color: #15202B;
  max-width: calc(384px);
  width: 300px;
  height: auto;
}

.menu-item {
  cursor: pointer;
  padding: 5px;
  height: 28px;
  /* border-bottom: 1px solid rgb(187, 187, 187); */
}
.menu-item:hover {
  color: #2980b9;
}
/* background-color: #15202B; */
.span-burger {
  border-radius: 64px;
  height: 30px;
  width: 40px;
  text-align: center;
  /* box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px, rgb(136 153 166 / 15%) 0px 0px 3px 1px; */
}

.span-burger:hover {
  background-color: rgba(26, 129, 197, 0.39);
}
